.aa {
	font-family: Tahoma,Verdana,Arial;
	font-size: 12px;
	background-color: white;
	border-width: 1px;
	border-color: #000000;
	border-style: solid;
	padding: 2px;
	margin-top: 1px;
	text-align:left;	
	cursor: pointer;
}
.aa_highlight {
	background-color: #93bee1;
	color: #000000;
}
.aa_wait {
	cursor: wait;
	background-image: url(indicators/arrows_circle.gif);
	background-repeat: no-repeat;
	background-position: 98% center;	
}
.aa * {
	padding: 3px;
	text-align:left;
}