#receiptlinks {
	display: none !important;
	}

.noprint, .menu	{
	display: none !important;
	}

#content { 
	padding: 0; 
	width: 600px; 
	}

#content table { 
	position: relative; 
	top: 0; 
	left: 0; 
	width: 600px; 
	background: #fff;
	}

#topright {
	float: right;
	margin-bottom: 6px;
	padding-right: 160px;
	}

#cart_table th {
	background-color: #fff;
	color: #000;
	}

#content table#classcount {
	width: 300px;
	}

#content table.purchasereport {
	width: 600px; 
	}

table#pageheader {
	display: none !important;
	}

table#logheader {
	display: none !important;
	}

div.m0l0iout {
	display: none !important;
	border: 0;
	}

div.m0l0iover {
	display: none !important;
	border: 0;
	}

div.m0l0oout {
	display: none !important;
	border: 0;
	}

div.m0l0oover
	display: none !important;
	border: 0;
	}


