<%
dim pagesize, totalpages,RA,totalrecords,groupname,thisname,currentpage,conn,rs,groupmode,strSQL,CName,AdditonURL,numstartid,numendid,i,deleteurl,EventOrNot,Str_Bgcolor,username,password,str_image,editurl,FullName

thisname=request.servervariables("script_name")
set conn = Server.CreateObject("ADODB.Connection")
conn.Open Application("DSN")
set rs = Server.CreateObject("ADODB.Recordset")
set rs.ActiveConnection = conn
rs.CursorLocation = 3 
rs.CursorType = 3 
if trim(request.querystring("userid"))="" then
	'response.write "<br>No userid is entered, end program here"
	response.end
else
	strSQL = "select * from users u, organizations o where u.orgid=o.orgid and o.orgid = " & session("orgid") & " and userid = " & CLng(trim(request.querystring("userid")))
end if
rs.Open strSQL
if rs.recordcount=0 then
	response.write "The user you request doesn't exist in the database, or user's organization id doesn't exist<br>"
	response.end
end if
rs.movefirst
call DisplayIndividual
rs.close
'strSQL = "select *  from UsersExtended u where userid="&clng(trim(request.querystring("userid")))
'rs.Open strSQL
'if rs.recordcount>0 or HasPermission("CanEditUser") or Session("UserID") = clng(trim(request.querystring("userid"))) then
'	call ExtendedProperty
'end if
'rs.close
set rs=nothing
conn.close
set conn=nothing


Sub ExtendedProperty
	response.write "<br>"
	'if HasPermission("CanEditUser") or Session("UserID") = clng(trim(request.querystring("userid"))) then 
	'	response.write "&nbsp;<img src=../images/cut.gif><a HREF=javascript:openWin2('admin/extended/index.asp?iOfaction=6&UserID="&clng(trim(request.querystring("userid")))&"','_blank')>&nbsp;"&langEditExtendedProperty&"</a>"
	'end if
	response.write "&nbsp;<B>"&langExtendedProperty&"</B>&nbsp;"

	'response.write "<a href='admin/extended/index.asp?iOfaction=6&UserID="&clng(trim(request.querystring("userid")))&"')>Edit</a>"
	response.write "<table border=0   width=478 height=10   class='tablelist' cellpadding='0' cellspacing='0'>"
	for i=0 to rs.recordcount-1 
		response.write "	<tr>"
		response.write "	<td width='10' height='23' align='justify'>&nbsp;</td>"
		response.write "	<td width='133' height='23' align='justify'>"&rs("property")&"</td>"
		response.write "    <td width='336' height='23'>&nbsp;"&rs("value")&"</td>"
		response.write "    </tr>"
		rs.movenext
	next
	response.write "</table>"
end sub
%>

<% sub  DisplayIndividual %>
<table border="0" width="478" height="20" class="tablelist" cellpadding="5" cellspacing="0">
  <tr>
    <th align="left" colspan="2"><%=langUserInfo%></th>
  </tr>

	<!--<tr>
	
	<td width="133" height="23" valign="top">User ID</td>
    <td width="336" height="23">&nbsp;<%=rs("userid")%></td>
	</tr>
	<tr>
	
	<td width="133" height="23" valign="top">Organization ID</td>
    <td width="336" height="23">&nbsp;<%=rs("orgid")&" <i>(Organizaiton Name:<b>"&rs("orgname")&")</b></i>" %></td>
	</tr>//-->

	<% if not isnull(rs("username")) and trim(rs("username"))<>"" then %>
	<tr>
	<td width="133" height="23" valign="top"><%=langUsername%>:</td>
    <td width="336" height="23"><%=rs("username")%></td>
	  </tr>

	<%
	else
	 response.write "<script>document.all.backto.innerHTML=""<img src='../images/arrow_2back.gif' align='absmiddle'>&nbsp;&nbsp;<A HREF=display_contact.asp>"&langBackToContactDisplay&"</a>""</script>"
	end if %>  

	<tr>
	  <td width="133" height="23" valign="top"><%=langFullName%>:</td>
    <td width="336" height="23"><%=rs("firstname")%>&nbsp;<%=rs("middleinitial")%>&nbsp;<%=rs("lastname")%></td>
	</tr>

<% if not isnull(rs("nickname")) and trim(rs("nickname"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langNickname%>:</td>
    <td width="336" height="23"><%=rs("nickname")%></td>
	  </tr>
<% end if %>  

<% if not isnull(rs("jobtitle")) and trim(rs("jobtitle"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langJobTitle%>:</td>
    <td width="336" height="23"><%=rs("jobtitle")%></td>
	  </tr>
<% end if %>  

<% if not isnull(rs("department")) and trim(rs("department"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langDepartment%>:</td>
    <td width="336" height="23"><%=rs("department")%></td>
	  </tr>
<% end if %>  

<% if not isnull(rs("companyname")) and trim(rs("companyname"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langcompanyname%>:</td>
    <td width="336" height="23"><%=rs("companyname")%></td>
	  </tr>
<% end if %> 

<% if not isnull(rs("homeaddress")) and trim(rs("homeaddress"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langHomeAddress%>:</td>
    <td width="336" height="23"><%= Replace(rs("homeaddress"), vbCrLf, "<br>") %></td>
	  </tr>
<% end if %> 

<% if not isnull(rs("homenumber")) and trim(rs("homenumber"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langHomePhone%>:</td>
    <td width="336" height="23"><%=FormatPhone(rs("homenumber"))%></td>
	  </tr>
<% end if %> 

<% if not isnull(rs("businessaddress")) and trim(rs("businessaddress"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langBusinessAddress%>:</td>
    <td width="336" height="23"><%=rs("businessaddress")%></td>
	  </tr>
<% end if %> 


<% if not isnull(rs("businessnumber")) and trim(rs("businessnumber"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langBusinessPhone%></td>
    <td width="336" height="23"><%=FormatPhone(rs("businessnumber"))%></td>
	  </tr>
<% end if %> 

<% if not isnull(rs("mobilenumber")) and trim(rs("mobilenumber"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langMobileNumber%></td>
    <td width="336" height="23"><%=FormatPhone(rs("mobilenumber"))%></td>
	  </tr>
<% end if %> 


<% if not isnull(rs("pagernumber")) and trim(rs("pagernumber"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langPagerNumber%>:</td>
    <td width="336" height="23"><%=FormatPhone(rs("pagernumber"))%></td>
	  </tr>
<% end if %> 


<% if not isnull(rs("faxnumber")) and trim(rs("faxnumber"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langFaxNumber%>:</td>
    <td width="336" height="23"><%=FormatPhone(rs("faxnumber"))%></td>
	  </tr>
<% end if %> 

<% if not isnull(rs("email")) and trim(rs("email"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langTypeEmail%>:</td>
    <td width="336" height="23"><%=rs("email")%></td>
	 </tr>
<% end if %> 

<% if not isnull(rs("email2")) and trim(rs("email2"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langAlternateEmail%>:</td>
    <td width="336" height="23"><%=rs("email2")%></td>
	 </tr>
<% end if %> 

<% if not isnull(rs("birthday")) and trim(rs("birthday"))<>"" then %>
	<tr>
	
	<td width="133" height="23" valign="top"><%=langBirthday%>:</td>
    <td width="336" height="23"><%=rs("birthday")%></td>
	 </tr>
<% end if %> 

<% if not isnull(rs("webpage")) and trim(rs("webpage"))<>"" then %>
  	<tr>
	<td width="133" height="23" valign="top" style="border:0px;"><%=langWebPage%>:</td>
    <td width="336" height="23" style="border:0px;"><%=rs("webpage")%></td>
	 </tr>
<% end if %> 




</table>
<% end sub %>

<script language=javascript>
<!--
	function openWin2(url, name) 
	{
		popupWin = window.open(url, name,"resizable,width=500,height=450");
	}
//-->
</script>

<%

Function FormatPhone( Number )
  If Len(Number) = 10 Then
    FormatPhone = "(" & Left(Number,3) & ") " & Mid(Number, 4, 3) & "-" & Right(Number,4)
  Else
    FormatPhone = Number
  End If
End Function

%>