<%
dim pagesize, totalpages,RA,totalrecords,groupname,thisname,currentpage,conn,rs,groupmode,strSQL
Dim CName,AdditonURL,numstartid,numendid,i,deleteurl,EventOrNot,Str_Bgcolor,username,password
Dim str_image,editurl,FullName,l_length,l_name,b_update,j,fld,sGrouplist

thisname=request.servervariables("script_name")
set conn = Server.CreateObject("ADODB.Connection")
conn.Open Application("DSN")
set rs = Server.CreateObject("ADODB.Recordset")
set rs.ActiveConnection = conn
rs.CursorLocation = 3 
rs.CursorType = 3 
if trim(request.querystring("userid"))="" then
response.write "<br>No userid is entered, end program here"
response.end
else

'group stuff begin
strSQL = "select g.GroupName, g.GroupID, ug.IsPrimaryGroup from Groups [g] left outer join UsersGroups [ug] ON ug.GroupID = g.GroupID AND ug.UserID = " & cint(trim(request.querystring("userid")))
rs.open strSQL
rs.movefirst
If Not rs.EOF Then
  sGroupList = "<select name=""PrimaryGroup""><option value=0>(None)</option>"
  Do While Not rs.EOF
    if rs("IsPrimaryGroup") then
      sGroupList = sGrouplist & "<option value='" & rs("groupid") & "' selected>" & rs("GroupName") & "</option>"
    else
      sGroupList = sGrouplist & "<option value='" & rs("groupid") & "'>" & rs("GroupName") & "</option>"
    end if
    rs.MoveNext
  Loop
  sGrouplist = sGrouplist & "</select>"
End If
rs.close
'group stuff end

strSQL = "select [UserID],[OrgID],[userPassword],"& _
		 "[userFName],[userLName],"& _
		 "[useraddress],[useraddress2],"& _
		 "[usercity],[userstate],[userzip],[usercountry],[userhomephone],[userbusinessname],[userworkphone],[userfax],"& _
		 "[userEmail] "& _
         "from egov_users u where userid = " & cint(trim(request("userid")))
end if
rs.Open strSQL
rs.movefirst

DisplayIndividual

rs.close
set rs=nothing
conn.close
set conn=nothing

'Sub DisplayPrimaryGroupsList
  'If HasPermission("CanEditUsers") Then
    'response.write "<tr><td width='10' height='23' align='justify'>&nbsp;</td>"
    'response.write "<td width='123' height='23' align='left'>Primary Group: </td>"
    'response.write "<td width='346' height='23' align=left>" & sgrouplist & "</td></tr>"
 ' End If
'End Sub
%>

<% sub  DisplayIndividual %>
<FORM METHOD=POST name="UpdateUser" ACTION="update_citizen_action.asp" >

 <div style="font-size:10px; padding-bottom:5px;"><img src="../images/cancel.gif" align="absmiddle">&nbsp;<a href="display_member.asp"><%=langCancel%></a>&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/go.gif" align="absmiddle">&nbsp;<a href="javascript:document.all.UpdateUser.submit();"><%=langUpdate%></a></div>

<table border="0"   width="478" height="220"   class='tablelist' cellpadding='0' cellspacing='0'>
<tr><th width='10' height='23' align='justify'>&nbsp;</th>
<th width='123' height='23' align='left'><%=langProperty%></th>
<th width='346' height='23' align=left><%=langValue%></th></tr>

<%
l_length=array( 4,4,50, _
               50,50, _
				255,255, _
				50,50,50,50,50,50,50,50,512 )
l_name=array("User ID","Org ID","Password", _
      "First Name","Last Name", _
	  "Address Line 1","Address Line 2", _
	  "City","State","Zip","Country","Home Phone","Business Name","Work Phone","Fax Number","Email")
b_update=array( 0,0,1, _
               1,1,1, _
				1,1, _
				1,1,1,1,1,1,1,1)
dim i 
j=0
for each fld in rs.fields 
if b_update(j)>0 then
response.write "<tr><td width='10' height='23' align='justify'>&nbsp;</td>"
response.write "<td width='123' height='23' align='left'>"&l_name(j)&": </td>"
	if l_length(j)>100 then
'	if length(j)>150 then
   response.write "<td width='346' height='23' align=left><textarea rows=2 cols=50 name="&fld.name&">"&trim(fld.value)&"</textarea></td></tr>"
	else
		if	fld.name="Password" then
			response.write "<td width='346' height='23' align=left><input type=password name="&fld.name&" value="""&trim(fld.value)&"""  size="&l_length(j)&" maxlength="&l_length(j)&"></td></tr>"
		else
		response.write "<td width='346' height='23' align=left><input type=text name="&fld.name&" value="""&trim(fld.value)&"""  size="&l_length(j)&" maxlength="&l_length(j)&"></td></tr>"
		end if
	end if
else
	response.write "<input type=hidden name="&fld.name&" value="""&fld.value&""">"
end if

j=j+1
if j=4 then
  'call DisplayPrimaryGroupsList()
end if

next
rs.movefirst
%>
</table>
<div style="font-size:10px; padding-bottom:5px;"><img src="../images/cancel.gif" align="absmiddle">&nbsp;<a href="display_member.asp"><%=langCancel%></a>&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/go.gif" align="absmiddle">&nbsp;<a href="javascript:document.all.UpdateUser.submit();"><%=langUpdate%></a></div>

</form>
<% end sub %>