<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="MailServer" value="smtp1.eclink.com" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="sqlConn" connectionString="Server=CO-SQL-03;Database=egovlink300;uid=egovsa;pwd=Egov_6814" providerName="System.Data.SqlClient" />
    <add name="errConn" connectionString="Server=CO-SQL-03;Database=egovlink300;uid=egovsa;pwd=Egov_6814" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
        <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>
