<!--
body {
  background-color:#ffffff;
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
}

th {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
  background-color:#dddddd;
}

td {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
}

dd {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
}

dt {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
}

li {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
}

p {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
}

p.exl {
  font-family:Courier;
  font-size:10pt;
  line-height:0px;
}

input {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
}

textarea {
  font-family: Tahoma;
  font-size: 11px;
}

select, option {
  font-family: Tahoma,Sans-Serif,Arial;
  font-size: 11px;
}

h1 {
  font-family:Helvetica,Arial,Verdana;
  font-size:16pt;
  font-weight:bold;
}

h2 {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:10pt;
  font-weight:bold;
}

h3 {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
  font-weight:bold;
}

a:link {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
  text-decoration:none;
}

a:visited {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
  text-decoration:none;
}

a:hover {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
  text-decoration:underline;
}

a:active {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
  text-decoration:underline;
}

.desc {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
}

.NTI {
  font-family:Tahoma,Sans-Serif,Arial;
  font-size:11px;
  color:#0000ff;
}

#ie5menu {
  position:absolute;
  width:130px;
  border:2px solid black;
  border-left:#cccccc solid 2px;
  border-top:#cccccc solid 2px;
  border-right:#444444 solid 2px;
  border-bottom:#444444 solid 2px;
  background-color:menu;
  font-family:Verdana;
  font-size:11px;
  line-height:16px;
  cursor:default;
  visibility:hidden;
}

.menuitem {
  padding-left:15px;
  padding-right:15px;
}

.disabledmenuitem {
  padding-left:15px;
  padding-right:15px;
  color:#888888;
}

.success 
{   
	color:Green;
	font-weight:bold;	
}
//-->