
/* Facility Management css input by Steve Loar */

#content { padding: 20px; width: 95%; font-size: 11px; font-family: Verdana,Tahoma; }

#content table { position: relative; top: -4px; left: -4px; width: 100%; background: #fff;}

#content table tr { height: 26px; }

#content table tr.alt_row { background: #eee; }

#content div#functionlinks { padding-bottom: 9px; }

#content div#functionlinks2 { padding-bottom: 9px; }

#content th {text-align: left; font-size: 11px; font-family: Verdana,Tahoma; }

#content h1 {font-size: 13px; margin-bottom: 0; padding-bottom: 0;}

#content table tr td.action { width: 130px;}

#content p a {font-size: 11px; font-family: Verdana,Tahoma;}

#content div.shadow { background: #919191; margin-bottom: 20px; }

#content textarea {height:100px; width:600px;}

#content textarea#waiver_desc { height: 90px; width: 360px; }

#content textarea.elements { height:100px;width:400px; }

#content table tr td.imageinput { text-align: right; padding-right: 15px; }

#content table tr td a { margin-right: 5px; }

#content table tr td a.selectimage { padding-right:215px; }

#content textarea.message { height:60px;width:250px; }

input.button {
	cursor: pointer;
	}

#searchtip {
	margin: 0;
	padding: 0;
	padding-left: 100px;
	}

#content span#searchresults {
	color: red;
	font-size: 1.2em;
	}

.reserveformtitle {
    FONT-SIZE: 12px;
	font-weight: bold;
    COLOR: #003366;
    BORDER-BOTTOM: #336699 1px solid;
    BACKGROUND-COLOR: #8a8ab0;
	font-family: Verdana,Tahoma;
	padding: 5px ;
	margin-top: 10px;
	}

.reserveforminputarea {
    border: #336699 1px solid;
	font-family: Verdana,Tahoma;
	FONT-SIZE: 10px;
	margin-bottom: 20px;
	}

.reserveforminputarea p {
	margin-left: 10px;
	FONT-SIZE: 10px;
	}

.reserveforminputarea table {
	margin: 0;
	padding: 0;
	}

.reserveforminputarea table th {
	text-align: center;
	}

#receiptcontent { 
	padding: 20px; 
	width: 600px; 
	font-size: 11px; 
	font-family: Verdana,Tahoma; 
	}

#receiptcontent table { 
	position: relative; 
	top: -4px; 
	left: -4px; 
	width: 100%; 
	background: #fff; 
	border: 1px solid black; 
	}

#receiptcontent table tr { 
	height: 26px;
	}

#receiptcontent div.shadow { 
	margin: 0; 
	padding: 0; 
	background: #919191; 
	margin-bottom: 20px;
	}

#receiptcontent table th {
    HEIGHT: 26px;
    FONT-SIZE: 10px;
    COLOR: #003366;
    BORDER-BOTTOM: #336699 1px solid;
    BACKGROUND-COLOR: #93bee1;
	text-align: left;
	}

#receiptlinks { 
	padding: 0;
	margin: 0;
	padding-bottom: 14px; 
	}

#searchtable {
	margin-bottom: 10px;
	}

#searchtable td {	
	height: 20px; 
	}

.familylist {	
	padding-left: 25px; 
	padding-bottom: 10px; 
	}
	
table#memberlist {
	top: 0;
	left: 0;
	/* give a drop shadow */
	-moz-box-shadow: 3px 3px 7px #777;
	-webkit-box-shadow: 3px 3px 7px #777;
	box-shadow: 3px 3px 7px #777;
}

table#pooltablelist {
	margin: 0;
	padding: 0;
	margin-top: 2em;
	border: 1px solid #336699;
	width: 100%;
	position: relative; 
	top: -4px; 
	left: -4px;
	}

table#pooltablelist th {
    HEIGHT: 24px;
    FONT-SIZE: 10px;
    COLOR: #003366;
    BORDER-BOTTOM: #336699 1px solid;
    BACKGROUND-COLOR: #93bee1;
	}

fieldset#search {
/*	width: 800px;*/
	}

div.ratetype {
	padding: 0;
	margin: 0;
	width: 250px;
	margin-left: 20px;
	margin-top: 4px;
	vertical-align: bottom;
	}

div.typecount {
	position: relative;
	float: right;
	text-align: right;
	/* width: 100px; */
	margin-top: -1em;
	}

table.tableadmin th {
	cursor:default;
	}

table#pooltablelist tr.altrow {
	background-color: #eeeeee;
	}

.ui-datepicker { font-size: 9pt !important; }

